body {
    background-color: #500303;
}

.empty-todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 64vh;
}

.page-header {
    color: white;
    text-decoration: underline;
}

.page-disclaimer-message {
    color: black;
    font-size: large;
    
}

.add-btn {
    border: none;
    background-color: #213ed7;
    display: inline-block;
    font-size: larger;
    width: fit-content;
    padding: 0rem 2rem;
}

